html, h1 {
  color: white;
  text-align: center;
}

html, body {
  background-color: #CCE0D2;
}

.container {
  background-color: #1D617A;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 6.25rem auto;
  padding: 20px;
  width: 300px;
}

label {
  display: block;
  text-align: left;
}

input[type="text"],
input[type="date"] {
  border: 1px solid #61C2A2;
  margin: 5px 0px;
  padding: 5px 14px;
  width: 90%;
}


input[type="submit"],
a {
  background-color: #5C85AD;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  text-decoration: none;
}

input[type="submit"] {
  margin-bottom: .75rem;
  width: 100%;
}