html, body {
	background-color: #CCE0D2;
	text-align: center;
	font-family: Arial, sans-serif; /* Adding a default font */
	padding: 0;
	margin: 0 10%;
}

.note-section {
	background-color: #61C2A2;
	border: 10px solid #1D617A;
	border-radius: 8px; /* Rounded corners */
	display: flex;
	justify-content: center;
	margin-bottom: 20px; /* Increased for better spacing */
	margin-top: 20px; /* Increased for better spacing */
	padding: 10px;

}

.flex-container {
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.selectable-text {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 4px; /* Rounded corners for text area */
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 20px; /* Increased for better spacing */
	margin-right: 10px; /* Adjusted for spacing */
	max-width: calc(100% - 100px);
	overflow-wrap: break-word;
	padding: 10px; /* Added padding */
	text-align: center;
}

.button-group {
	align-items: flex-end; /* Align to right */
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.button-group input[type="button"] {
	background-color: #1D617A;
	border: 1px solid #e7f1ff;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	margin-bottom: 5px; /* Space between buttons */
	padding: 5px 10px; /* Padding for buttons */
}

.button-group input[type="button"]:hover {
	background-color: #61C2A2;
	color: white;
}

.button-group input[type="submit"] {
	background-color: #1D617A;
	border: 1px solid #e7f1ff;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	margin: 10px 0 5px 0px; /* Space between buttons */
	padding: 5px 10px; /* Padding for buttons */
}

.button-group input[type="submit"]:hover {
	background-color: #61C2A2;
	color: white;
}

/* Targeting the 'Edit' buttons */
.button-group input[type="button"][value="Edit"] {
	/* Styles for 'Edit' buttons */
	background-color: #1D617A; /* Example: Green background */
	color: white;
}

.button-group input[type="button"]:hover {
	background-color: #e7f1ff;
	color: black;
}

/* Targeting the 'Delete' buttons */
.button-group input[type="submit"][value="Delete"] {
	/* Styles for 'Delete' buttons */
	background-color: #1D617A; /* Example: Red background */
	color: white;
}

.button-group input[type="submit"]:hover {
	background-color: #f44336;
	color: white;
}

.selected {
	background-color: #e7f1ff; /* Adjusted to a lighter shade for better readability */
	border-color: #007bff;
}

table {
    text-align: center;
		
}

td, tr {
	margin-bottom: 20px; /* Increased for better spacing */

}